* {
  font-family: Pixel, Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./img/bg.jpg);
  background-size: cover;
  background-position: center;
  /* background-repeat: no-repeat; */
}

@font-face {
  font-family: 'Pixel';
  src: url('font/Pixel-LCD-7.woff') format('woff');
}

.stage {
  aspect-ratio: 1 / 2;
  background-color: #222;
  display: grid;
  border: 5px solid #333;
  gap: 1px;
  /* grid-template-rows: repeat(20, calc(25vw / 10)); */
  /* grid-template-columns: repeat(10, 1fr); */
  max-width: 800px;
  max-height: 90vh;
  margin: 0 auto;
}